# example
# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=fitness_db
MYSQL_USER=fitness_admin
MYSQL_PASSWORD=your_app_password
MYSQL_PORT=3306

# Redis Configuration
REDIS_PASSWORD=your_redis_password
REDIS_PORT=6379

# App Configuration
APP_PORT=8080
JWT_SECRET=your_jwt_secret

# GOOGLE LOGIN
google.client-id=123456789-abcxyz.apps.googleusercontent.com
google.client-secret=...

#mật khẩu staff(trainer, nhân viên chung, lễ tân)
app.default-password=...